body {
	background-color: #fbb03b;
	font-family:Verdana;
	color:#FFFFEE;
}

.top {
	height: 20vw;
	font-size:2.4vw;
	text-align:center;
}

.links {
	background-image: url("division.png");
	background-repeat: repeat-x;
	background-color: #f7931e;
	font-size: 4vw;
	padding: 15px;
}

.banner {
	height: 20vw;
	width: auto;
	padding:0px;
}

.left {
	float:left;
	margin-left: 0;
}

.right {
	float:right;
	margin-right: 0;
}

.bottom {
	background-color: #fac27f;
	text-align:center;
}

.footer {
	height: 5vw;
	width: auto;
}

a:link {
    color: #FFFFEE; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: #FFFFEE;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
}