<!DOCTYPE html>
<html>
	<head>
		<title>Ekipa2</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="Ekipa2">
        <link href="ekipa2logo.png" rel="shortcut icon" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="ekipa2.css">
	</head>
	<body>
		<div class="top">
			<img src="ekipa2logo.png" alt="" class="banner left" />
			<img src="simulsama.png" alt="" class="banner right" />
			<h1>Proyecto de Prevención de la Violencia de Género</h1>
		</div>
		<br/>
		<div class="links">
			<p><a href="https://bit.ly/2wYFt8F">Cuestionario de agresividad</a><p/>
			<p><a href="https://bit.ly/2GBjMel">Cómo me relaciono con los demás (ASI)</a><p/>
			<p><a href="https://bit.ly/2IuWwEK">Cómo me relaciono con los demás (AMI)</a><p/>
			<p><a href="https://bit.ly/2IxdMt7">La sociedad y yo</a><p/>
			<p><a href="https://bit.ly/2KHsLgO">Conociéndome un poco más</a><p/>
			<p><a href="https://bit.ly/2IDr2Iy">Conociendo lo que siento</a><p/>
			<p><a href="https://bit.ly/2KFU9LW">Actitudes hacia el genero y la violencia</a><p/>
			<p><a href="https://bit.ly/2GA7tPF">Actitudes CADV</a><p/>
			<p><a href="https://bit.ly/2kd5sjG">Caracterización</a><p/>
		</div>
	</body>
</html>
